body {
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 247);
}

* {
    font-size: 5vh;
    gap: 5px;
    text-align: center;
    font-family: serif;
}

#calculator {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mainDisplay, #infoDisplay {
    white-space: nowrap;
    overflow-y: auto;
}

#mainDisplay {
    font-size: 1.5em;
}

#keypad {
    flex: 1;
    display: flex;
    width: 100%;
}

#keypadLeft {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#keypadTopLeft {
    flex: 1;
    display: flex;
}

.keypadTopLeftButton {
    flex: 1;
    font-size: 0.75em;
}

.keypadTopLeftSpacer {
    flex: 1;
}

#keypadBottomLeft {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.numberRow {
    flex: 1;
    display: flex;
}

#keypadRight {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#equalButton {
    flex: 1.5;
}

button {
    flex: 1;
    box-sizing: border-box;
    background-color: #ffd588;
    border: 2px solid #9d8251;
    font-family: sans-serif;
}

button:hover {
    background-color: #fddc9e;
}

button:active {
    background-color: #fce1ae;
}

#caButton, #delButton {
    min-width: 3em;
    background-color: #ffefd1;
    border-color: #ac9e84;
    color: rgb(75, 75, 75);
}

#caButton:hover, #delButton:hover {
    background-color: #fff2d8;
    color: rgb(24, 24, 24);
}

#caButton:active, #delButton:active {
    background-color: #fff5e0;
    color: rgb(0, 0, 0);
}


#keypadRight button:not(#equalButton) {
    background-color: #fcc987;
    border-color: #a9875b;
}

#keypadRight button:not(#equalButton):hover {
    background-color: #ffd298;
}

#keypadRight button:not(#equalButton):active {
    background-color: #ffdcad;
}


#equalButton {
    background-color:  #b4e9ca;
    border-color: #5c856c;
}

#equalButton:hover {
    background-color:  #cce9d8;
}

#equalButton:active {
    background-color:  #d7ece0;
}



@media (max-width: 600px) {
    #keypadLeft {
        flex: 3;
    }
    #keypadBottomLeft {
        flex: 8;
    }
}

@media (min-width: 1000px) {
    #keypad {
        width: 60%;
        align-self: center;
    }
}